.overflow-x-auto {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-x: scroll;
    overflow-y: hidden;
}

.overflow-x-auto::-webkit-scrollbar {
    height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-x-auto::-webkit-scrollbar {
    display: none;
}